/* 
    Created on : Jan 6, 2018, 12:29:18 PM
    Author     : Marietta E. Cameron
	Modified by: Owen Feldmann
	Modified on: Feb 8, 2022
	Modified by: Gabe Webb
	Last Modified on: Feb 15, 2022
*/
.backgroundGradient{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 85%, rgb(117, 233, 199) 100% );
}

html, body{
    min-height: 100%;
    margin-left:20px;
}
canvas {
    border:#0000FF 1px solid;
} 
h1 {
    color: #0000FF;
    text-shadow: 2px 2px 3px grey;
}/* h1 */
h2 {
    color: #0000FF;
}/* h2 */
h3 {
    color: #ae00ff;   
}/* h3 */
p {
    font-family: verdana;
    font-size: 20px;
}/* p */
pre {
	font-size: 24px;
}/* pre */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #335e34;
    color: white;
}

.summary{
    max-width: 800px;
    min-width: 100px;
}

.interactiveTutorialClass {
    float: left;
    width: 45%;
}/* interactiveTutorialClass */

.tutorialDescriptionClass {
    float: left;
    width: 55%;
}/* tutorialDescriptionClass */

/* Responsive layout - if width is less than 1000px send objective class full width*/
@media (max-width: 1000px) {
    .tutorialDescriptionClass{
        width: 100%;
    }
}
